/* color palette used
 * http://www.colourlovers.com/palette/292482/Terra
 */

/* Bootstrap overrides */
a {
  text-decoration: underline;
  color: #E8DDCB;
}

a:hover { cursor: pointer; color: #CDB380 !important; }
ul      { padding: 0; list-style-type: none;          }

.col-centered { float: none; margin: 0 auto; }
.close { opacity: 1 !important; color: white; }

.absolute-wrapper {
  position: absolute;
  height: 100%;
}

.relative-wrapper {
  position: relative;
  height: 100%;
}

.full-listing {
  padding: 0    !important;
  width:   100% !important;
  left:    0    !important;
}

.scroll-wrapper {
  position: relative;
  height: 100%;
}

.no-list {
  padding: 0 !important;
}

.modal-content {
  color: #E8DDCB;
  background-color: black;
  opacity: 0.7;
  border: 1px solid #E8DDCB;
  border-radius: 10px;
}

.modal-body li           { word-wrap: break-word;   }
.modal-footer ul li      { display: inline;         }
.modal-content ul li img { height: 50px;            }
.modal-body > .container-fluid {
  margin:           0;
  margin-top:    10px;
}

.rzslider-trimmed        { margin-top: 15px;        }
.highlight               { color: red !important;   }
.truncate {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.inanimate {
          transition: initial !important;
  -webkit-transition: initial !important;
     -moz-transition: initial !important;
}

button:hover {
  color: #E8DDCB;
}





/* User defined */
html, body {
  height:   100%;
  width:    100%;
  overflow: hidden;
  background-image: linear-gradient(0deg, #031634, #033649);
  font-family: "Arvo", serif;
}

.image-square-container {
  position: relative;
  margin:   0;
  border:   1px solid #031634;
  float:    left;
  cursor:   pointer;

  width:          33.33%;
  padding-bottom: 33.33%;
}

.image-square-container-full {
  width:          25%;
  padding-bottom: 25%;
}

.image-square-container > div {
  position: absolute;
  width:  100%;
  height: 100%;
  padding: 0;

  filter:         brightness(0.6) grayscale(1);
  -webkit-filter: brightness(0.6) grayscale(1);
  -moz-filter:    brightness(0.6) grayscale(1);
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center;
  cursor: pointer;
}
  .image-square-container > div:hover {
    border: 1px solid #031634;
    filter:         brightness(1) grayscale(0);
    -webkit-filter: brightness(1) grayscale(0);
    -moz-filter:    brightness(1) grayscale(0);
  }
  .image-square-container-selected { border: 1px dashed #CDB380; }
  .image-square-container-selected > div {
    border: 1px solid #CDB380;
    filter:         brightness(1) grayscale(0) !important;
    -webkit-filter: brightness(1) grayscale(0) !important;
    -moz-filter:    brightness(1) grayscale(0) !important;
  }



/* User defined IDs */
#base_loading {
  left:    0;
  right:   0;
  z-index: 9;
  background-image: linear-gradient(0deg, rgba(3, 22, 52, 0.1), rgba(3, 22, 52, 1));
  padding: 20px;
  cursor: progress;
}

#base_searchbar {
  display: table;
  z-index: 6;
  width: 100%;
  background-image: linear-gradient(0deg, rgba(3, 54, 73, 1), rgba(232, 221, 203, 0.1));
}

  #searchbar_view {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    width:     80%;
    height:   100%;
    z-index:     7;
    margin: 0 auto;
    opacity: 1;
  }

  #searchbar_view .modal-content { padding: 0; margin: 0 auto; }

    #searchbar_search_container {
      width:        100%;
      padding-left: 40px;
      height:       32px;
      border:          0;
    }

    #searchbar_search {
      width:     100%;
      font-size: 15pt;
      outline:      0;
      border:       0;
      color:  #E8DDCB;
      border-bottom: 1px dashed #E8DDCB;
      background-color: transparent;
    }

    #searchbar_search_icon {
      position: absolute;
      width:        40px;
      left:            0;
      top:           5px;
      font-size:   1.5em;
      z-index:         1;
    }

    .searchbar_button {
      font-size:        1em;
      display: inline-block;
      background-color: transparent;
      border:             0;
    }




#base_view {
  padding-left: 200px;
  padding-right: 0;
}

  #base_title_container {
    display: table;
    position: absolute;
    width:  100%;
    height: 100%;
    z-index: 1;
  }

  #base_title {
    display:    table-cell;
    vertical-align: middle;
    color: white;
  }

  #base_title  h1 { font-size: 3em; }
  #base_title  p { font-size: 1.5em; }
  #base_title  p > span { cursor: pointer; font-size: 2em; }
  #base_title  p > span:hover { color: #CDB380; }






#base_image {
  position: relative;
  overflow:   hidden;
  border:          0;
  height:       100%;
  width:        100%;
}

  .image_container {
    position:     absolute;
    overflow:       hidden;
    height:           100%;
    width:            100%;
    left:              0px;

            transition: all 0.5s;
    -webkit-transition: all 0.5s;
       -moz-transition: all 0.5s;
  }

    .image_container > div { display: table; width: 100%; height: 100%; }
    .image_container > div > div {
      position:     relative;
      display:    table-cell;
      vertical-align: middle;
      text-align:     center;
    }


    .image_images {
      display: inline-block;
      margin:   0 auto;

               transform: translate3d(0, 0, 0) scale(1, 1);
       -webkit-transform: translate3d(0, 0, 0) scale(1, 1);
          -moz-transform: translate3d(0, 0, 0) scale(1, 1);
              transition: transform 0.5s;
      -webkit-transition: transform 0.5s;
         -moz-transition: transform 0.5s;
    }

    .image_lt2 {         transform: translate3d(-200%, 0, 0) scale(1, 1);
                 -webkit-transform: translate3d(-200%, 0, 0) scale(1, 1);
                    -moz-transform: translate3d(-200%, 0, 0) scale(1, 1);
                                     -webkit-backface-visibility: hidden;
                 opacity: 0;
                 z-index: -1; }
    .image_lft {         transform: translate3d(-100%, 0, 0) scale(1, 1);
                 -webkit-transform: translate3d(-100%, 0, 0) scale(1, 1);
                    -moz-transform: translate3d(-100%, 0, 0) scale(1, 1);
                                     -webkit-backface-visibility: hidden;
                 z-index: 1; }
    .image_ctr {         transform: translate3d(    0, 0, 0) scale(1, 1);
                 -webkit-transform: translate3d(    0, 0, 0) scale(1, 1);
                    -moz-transform: translate3d(    0, 0, 0) scale(1, 1);
                                     -webkit-backface-visibility: hidden;
                 z-index: 2; }
    .image_rgt {         transform: translate3d( 100%, 0, 0) scale(1, 1);
                 -webkit-transform: translate3d( 100%, 0, 0) scale(1, 1);
                    -moz-transform: translate3d( 100%, 0, 0) scale(1, 1);
                                     -webkit-backface-visibility: hidden;
                 z-index: 1; }
    .image_rt2 {         transform: translate3d( 200%, 0, 0) scale(1, 1);
                 -webkit-transform: translate3d( 200%, 0, 0) scale(1, 1);
                    -moz-transform: translate3d( 200%, 0, 0) scale(1, 1);
                                     -webkit-backface-visibility: hidden;
                 opacity: 0;
                 z-index: -1; }

  .overlay_back {
    position: fixed;
    opacity:    0.7;
    z-index:      3;
    padding:      0;
    color:    white;
    border: 1px solid #CDB380;
  }

  .overlay_button {
    background-color: #033649;
    border-radius:       20px;
    color:            #E8DDCB;
    cursor:           pointer;
  }

  .overlay_button:hover {
    background-color: #E8DDCB;
    color:              black;
  }
    .overlay_button > span {
      padding: 10px;
      vertical-align: middle;
      display: inline-block;
    }

  #overlay_grid   { top:  20px;       right: 20px; }
  #overlay_search { top:  20px; margin-left: 20px; }
  #overlay_prev   { top:   50%; margin-left: 20px; }
  #overlay_next   { top:   50%;       right: 20px; }

  #overlay_info_container {
    position: fixed;
    bottom:    20px;
    width:     100%;
    z-index:      3;
    padding: 0 20px;
  }

    #overlay_info {
      position:  relative;
      border-radius: 10px;
      -webkit-user-select: none;
         -moz-user-select: none;
      user-select: none;
    }

    #overlay_info > div {
      width: 100%;
      padding: 5px;
      margin: 0;
    }

    #overlay_info > div ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      text-align: center;
    }

    #overlay_info > div:first-child {
      background: black;
      border-radius: 10px 10px 0 0;
    }

    #overlay_info > div:last-child {
      background: #E8DDCB;
      border-radius: 0 0 10px 10px;
      color: black;
    }

    #overlay_info > div:first-child > ul > li {
      width: 100%;
      font-size: 0.9em;
    }

    #overlay_info > div:last-child > ul > li {
      padding:    3px;
      display: inline;
      -webkit-user-select:          none;
      -moz-user-select:             none;
      user-select:                  none;
    }

    #overlay_info > div:last-child > ul > li:hover {
      cursor: pointer;
    }

    #overlay_info > div:last-child > ul > li > a {
      color: black !important;
    }




#base_listing {
  height: 100%;
  background-image: linear-gradient(0deg, #031634, #036564);
  z-index:   4;

  width:   200px; /* Size on page is managed through base_view  */
  left:        0;
  overflow: auto;
  -moz-overflow-scrolling: touch;
  -webkit-overflow-scrolling: touch;
}

  #listing_grid {
    width: 100%;
    float: left;
  }

  .page-button {
    text-align:  center;
    color:       white;
    width:       100%;
    HEIGHT:      40px;
    line-height: 40px;
    float:       left;
    vertical-align: middle;
  }

  .page-button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
  }

  .page-button-inactive {
    background-color: #222222;
    color: black;
    pointer-events: none !important;
  }








/*************** SIMPLE INNER SCROLLBAR ***************/
.scrollbar-inner > .scroll-element,
.scrollbar-inner > .scroll-element div {
    border: none;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 10;
}

.scrollbar-inner > .scroll-element div {
    display: block;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}

.scrollbar-inner > .scroll-element.scroll-y {
    height: 100%;
    right: 0 !important;
    top: 0;
    width: 8px;
}

.scrollbar-inner > .scroll-element .scroll-element_outer {
    overflow: hidden;
}

.scrollbar-inner > .scroll-element .scroll-element_outer,
.scrollbar-inner > .scroll-element .scroll-element_track,
.scrollbar-inner > .scroll-element .scroll-bar {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.scrollbar-inner > .scroll-element .scroll-element_track,
.scrollbar-inner > .scroll-element .scroll-bar {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)" !important;
    filter: alpha(opacity=90) !important;
    opacity: 0.9 !important;
}
.scrollbar-inner > .scroll-element .scroll-element_track { background-color: #033649 !important; }
.scrollbar-inner > .scroll-element .scroll-bar { background-color: #E8DDCB !important; }
.scrollbar-inner > .scroll-element:hover .scroll-bar { background-color: #CDB380 !important; }
.scrollbar-inner > .scroll-element.scroll-draggable .scroll-bar { background-color: #FFFFFF !important; }


/* update scrollbar offset if both scrolls are visible */
.scrollbar-inner > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track { top: -12px; }
.scrollbar-inner > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size { top: -12px; }





/* CSS Loading animation */
#fountainG{
  position:relative;
  width:234px;
  height:28px;
  margin:auto;
}

.fountainG{
  position:absolute;
  top:0;
  background-color:rgb(0,0,0);
  width:28px;
  height:28px;
  animation-name:bounce_fountainG;
    -o-animation-name:bounce_fountainG;
    -ms-animation-name:bounce_fountainG;
    -webkit-animation-name:bounce_fountainG;
    -moz-animation-name:bounce_fountainG;
  animation-duration:0.775s;
    -o-animation-duration:0.775s;
    -ms-animation-duration:0.775s;
    -webkit-animation-duration:0.775s;
    -moz-animation-duration:0.775s;
  animation-iteration-count:infinite;
    -o-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
    -moz-animation-iteration-count:infinite;
  animation-direction:normal;
    -o-animation-direction:normal;
    -ms-animation-direction:normal;
    -webkit-animation-direction:normal;
    -moz-animation-direction:normal;
  transform:scale(.3);
    -o-transform:scale(.3);
    -ms-transform:scale(.3);
    -webkit-transform:scale(.3);
    -moz-transform:scale(.3);
  border-radius:19px;
    -o-border-radius:19px;
    -ms-border-radius:19px;
    -webkit-border-radius:19px;
    -moz-border-radius:19px;
}

#fountainG_1{
  left:0;
  animation-delay:0.316s;
    -o-animation-delay:0.316s;
    -ms-animation-delay:0.316s;
    -webkit-animation-delay:0.316s;
    -moz-animation-delay:0.316s;
}

#fountainG_2{
  left:29px;
  animation-delay:0.3925s;
    -o-animation-delay:0.3925s;
    -ms-animation-delay:0.3925s;
    -webkit-animation-delay:0.3925s;
    -moz-animation-delay:0.3925s;
}

#fountainG_3{
  left:58px;
  animation-delay:0.469s;
    -o-animation-delay:0.469s;
    -ms-animation-delay:0.469s;
    -webkit-animation-delay:0.469s;
    -moz-animation-delay:0.469s;
}

#fountainG_4{
  left:88px;
  animation-delay:0.5455s;
    -o-animation-delay:0.5455s;
    -ms-animation-delay:0.5455s;
    -webkit-animation-delay:0.5455s;
    -moz-animation-delay:0.5455s;
}

#fountainG_5{
  left:117px;
  animation-delay:0.622s;
    -o-animation-delay:0.622s;
    -ms-animation-delay:0.622s;
    -webkit-animation-delay:0.622s;
    -moz-animation-delay:0.622s;
}

#fountainG_6{
  left:146px;
  animation-delay:0.6985s;
    -o-animation-delay:0.6985s;
    -ms-animation-delay:0.6985s;
    -webkit-animation-delay:0.6985s;
    -moz-animation-delay:0.6985s;
}

#fountainG_7{
  left:175px;
  animation-delay:0.775s;
    -o-animation-delay:0.775s;
    -ms-animation-delay:0.775s;
    -webkit-animation-delay:0.775s;
    -moz-animation-delay:0.775s;
}

#fountainG_8{
  left:205px;
  animation-delay:0.8615s;
    -o-animation-delay:0.8615s;
    -ms-animation-delay:0.8615s;
    -webkit-animation-delay:0.8615s;
    -moz-animation-delay:0.8615s;
}



@keyframes bounce_fountainG{
  0%{
  transform:scale(1);
    background-color:rgb(0,0,0);
  }

  100%{
  transform:scale(.3);
    background-color:rgb(232,221,203);
  }
}

@-o-keyframes bounce_fountainG{
  0%{
  -o-transform:scale(1);
    background-color:rgb(0,0,0);
  }

  100%{
  -o-transform:scale(.3);
    background-color:rgb(232,221,203);
  }
}

@-ms-keyframes bounce_fountainG{
  0%{
  -ms-transform:scale(1);
    background-color:rgb(0,0,0);
  }

  100%{
  -ms-transform:scale(.3);
    background-color:rgb(232,221,203);
  }
}

@-webkit-keyframes bounce_fountainG{
  0%{
  -webkit-transform:scale(1);
    background-color:rgb(0,0,0);
  }

  100%{
  -webkit-transform:scale(.3);
    background-color:rgb(232,221,203);
  }
}

@-moz-keyframes bounce_fountainG{
  0%{
  -moz-transform:scale(1);
    background-color:rgb(0,0,0);
  }

  100%{
  -moz-transform:scale(.3);
    background-color:rgb(232,221,203);
  }
}
