<!DOCTYPE html>

<head>
<title>Art Hound</title>
<base href=".">
<meta name="viewport" content="width=device-width, initial-scale=1,
                               maximum-scale=1, user-scalable=no">

<!-- Bootstrap includes -->
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css" />
<link href='https://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>

<!-- User includes -->
<link rel="stylesheet" type="text/css" href="css/index.min.css" />
<link rel="stylesheet" type="text/css" href="css/jquery.scrollbar.css" />
<link rel="stylesheet" type="text/css" href="css/rzslider.min.css" />

<!-- jQuery includes -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

<!-- Angular includes -->
<script src="js/angular.min.js"></script>
<script src="js/angular-route.min.js"></script>
</head>

<body ng-app="ngHound" onkey>
<!-- loading -->
<div id="base_loading" ng-controller="LoadingCtrl as loading" ng-cloak
  ng-class="{'absolute-wrapper': 1, hidden: !loading.substates['LOAD']}">
  <div id="fountainG">
    <div id="fountainG_1" class="fountainG"></div>
    <div id="fountainG_2" class="fountainG"></div>
    <div id="fountainG_3" class="fountainG"></div>
    <div id="fountainG_4" class="fountainG"></div>
    <div id="fountainG_5" class="fountainG"></div>
    <div id="fountainG_6" class="fountainG"></div>
    <div id="fountainG_7" class="fountainG"></div>
    <div id="fountainG_8" class="fountainG"></div>
  </div>
</div>

<!-- About Modal -->
<div class="modal fade" id="modal_about" tabindex="-1" role="dialog" aria-labelledby="AboutModal">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h4 class="modal-title" id="AboutModal">Art Hound v0.8.8</h4>
    </div>

    <div class="modal-body">
      <p>This site utilizes...
        <a href="https://deviantart.com">DeviantArt</a>
        <a href="https://e926.net">e926.net</a>
        <a href="https://imgur.com">Imgur</a>
      </p>
      <p>Developed with a modified version of AngularJS by:</p>
      <ul>
        <li class="container-fluid">
          <div class="col-xs-12 col-sm-3">
          <label><a href="https://linkedin.com/in/DylanLotivio">Dylan Lotivio</a></label>
          </div>
          <div class="col-xs-12 col-sm-9">Developer</div>
        </li>
        <li class="container-fluid">
          <div class="col-xs-12 col-sm-3">
          <label><a href="https://www.linkedin.com/in/todd-crump-13486198">Todd Crump</a></label>
          </div>
          <div class="col-xs-12 col-sm-9">UX Design/QA Testing</div>
        </li>
        <li class="container-fluid">
          <div class="col-xs-12 col-sm-3">
          <label><a href="https://www.linkedin.com/in/hereisryan">Ryan Jones</a></label>
          </div>
          <div class="col-xs-12 col-sm-9">UI Design/QA Testing</div>
        </li>
      </ul>
    </div>

    <div class="modal-footer">
      <ul>
        <li><label>Powered by:</label></li>
        <li><a href="https://angularjs.org/">  <img src="img/angular-logo.svg"   /></a></li>
        <li><a href="http://getbootstrap.com/"><img src="img/bootstrap-logo.png" /></a></li>
        <li><a href="https://www.heroku.com/"> <img src="img/heroku-logo.png"    /></a></li>
        <li><a href="https://nodejs.org/en/">  <img src="img/nodejs-logo.png"    /></a></li>
      </ul>
    </div>
  </div>
</div>
</div>

<!-- Info Modal -->
<div class="modal fade" id="modal_info" tabindex="-1" role="dialog" aria-labelledby="InfoModal">
<div class="modal-dialog" role="document">
  <div class="modal-content" ng-controller="InfoCtrl as info">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h4 class="modal-title" id="InfoModal">{{ info.current.title }}</h4>
    </div>

    <div class="modal-body">
      <ul>
        <li class="container-fluid" ng-repeat="(key, val) in info.current">
          <div class="col-xs-12 col-sm-3"><label>{{ key }}</label></div>
          <div class="col-xs-12 col-sm-9 truncate" title="{{ val }}">{{ val }}</div>
        </li>
      </ul>
    </div>

    <!--<div class="modal-footer"> </div>-->
  </div>
</div>
</div>

<!-- Options Modal -->
<div class="modal fade" id="modal_options" tabindex="-1" role="dialog" aria-labelledby="OptionsModal">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h4 class="modal-title" id="OptionsModal">Options</h4>
    </div>

    <div class="modal-body" ng-controller="OptionsCtrl as options">
    <div class="container-fluid">
      <div class="col-xs-12 col-sm-3"><label>Sources:</label></div>
      <div class="col-xs-12 col-sm-3">
        Deviant Art: <input type="checkbox" ng-model="options.Search.sources.deviantart"/>
      </div>
      <div class="col-xs-12 col-sm-3 text-center">
        e926: <input type="checkbox" ng-model="options.Search.sources.e926"/>
      </div>
      <div class="col-xs-12 col-sm-3 text-center">
        Imgur: <input type="checkbox" ng-model="options.Search.sources.imgur"/>
      </div>
    </div>

    <div class="container-fluid">
      <div class="col-xs-12 col-sm-3"><label>Limit:</label></div>
      <div class="col-xs-12 col-sm-9">
        <rzslider class="rzslider-trimmed"
                  rz-slider-model="options.Search.limit"
                  rz-slider-options="options.limit_options"></rzslider>
      </div>
    </div>
    </div>

  </div>
</div>
</div>

<!-- Help Modal -->
<div class="modal fade" id="modal_help" tabindex="-1" role="dialog" aria-labelledby="HelpModal">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h4 class="modal-title" id="HelpModal">Help</h4>
    </div>

    <div class="modal-body">
      <div class="container-fluid">
        <p>Uses simple boolean to search [AND, OR, NOT]. Booleans consists of [term] [boolean] [term]. Booleans are case insensitive.</p>
        <p>For quality searches, the site automatically pulls from popular submissions for each source first (score quota, minimum number of views, etc). This can be disabled in options.</p>
        <p>If a tag cannot be found, Deviant Art is persistent in returning <i>something</i>.</p>
        <p>e926 does not allow more than 5 total search terms without authentication and will not return anything if this occurs. Search terms do <i>not</i> include booleans.</p>
        <p>Limit controls how much is returned per source. Imgur does not provide limit options, and will return more than this limit.</p>
        <p>Due to its API credit use, response time for returning searches from Imgur will diminish until reset after 24 hours.</p>
      </div>

      <div class="container-fluid">
      <p>Search Examples</p>
        <ul style="padding: initial !important">
          <li><a href="./?q=cats+AND+dogs+NOT+anthro">cats AND dogs NOT anthro</a></li>
            <li><a href="./?q=steven_universe+AND+rose+or+peridot">
              steven_universe AND rose or peridot</a></li>
            <li><a href="./?q=charizard+or+blastoise">charizard or blastoise</a></li>
            <li><a href="./?q=sora+not+donald+not+goofy">sora not donald not goofy</a></li>
        </ul>
      </div>
    </div>

  </div>
</div>
</div>

<!-- search bar -->
<div id="base_searchbar" ng-controller="SearchbarCtrl as searchbar" ng-cloak
  ng-class="{'absolute-wrapper': 1, hidden: !searchbar.substates['SEARCH']}">

  <div search id="searchbar_view">
    <div class="modal-content col-xs-11 col-sm-7 col-centered">
      <div class="modal-body">
        <div class="container-fluid relative-wrapper" style="padding: 0;">
          <span id="searchbar_search_icon" class="glyphicon glyphicon-search"></span>
          <div id="searchbar_search_container">
            <input id="searchbar_search" type="search" autocomplete="on" class="col-xs-11"
                     ng-model="searchbar.query" />
           </div>
        </div>
        <div class="container-fluid text-center">
          <button navclick="search" class="searchbar_button">Search</button>
          <button navclick="options" class="searchbar_button">Options</button>
          <button navclick="help"    class="searchbar_button">Help</button>
        </div>
      </div>

      <div class="modal-footer hidden-xs">
        v<span class="version"></span>
        <a navclick="about" class="highlight glyphicon glyphicon-question-sign"></a>
      </div>
    </div>
  </div>
</div>

<!-- title -->
<div id="base_title_container" ng-controller="TitleCtrl as title"
     ng-class="{hidden: title.state != 'DEFAULT'}">
  <div id="base_title">

    <h1>Art Hound</h1>
    <p>Discover art.</p>
    <p>Type anywhere, any time, to search.</p>
    <p><span navclick="search_overlay" class="glyphicon glyphicon-search"></span></p>
  </div>
</div>


<!-- viewport -->
<div id="base_view" ng-controller="ViewCtrl as view"
  ng-class="{'container-fluid': 1,
             'relative-wrapper': 1,
             'no-list': (!view.substates['LIST'])}">

  <!-- listing -->
  <div id="base_listing" ng-controller="ListingCtrl as listing" ng-cloak
    ng-class="{hidden: !(listing.substates['LIST']),
              'absolute-wrapper': 1,
              'full-listing': listing.substates['FULL']}">
    <div id="listing_grid">
    <div id="page_prev" title="Load Previous Page"
      ng-class=
      "{'page-button': true,
      'page-button-inactive': !listing.can_page,
      'hidden': listing.substates['FIRST'] }"
      navclick="page_prev">
      <span>Load Previous...</span>
    </div>

    <div ng-repeat="page in listing.listing">
      <div ng-repeat="item in page.data">
        <div navclick="tile"  index="{{ item.index }}"
          ng-class="{'image-square-container-selected': item.index == listing.current,
                     'image-square-container': true,
                     'image-square-container-full': listing.substates['FULL']}">
          <div style="background-image: url('{{item.thumbs}}')"></div>
        </div>
      </div>
    </div>
    </div>

    <div id="page_next" title="Load Next Page"
      ng-class=
      "{'page-button': true,
      'page-button-inactive': !listing.can_page,
      'hidden': listing.substates['LAST'] }"
      navclick="page_next">
      <span>Load Next Page...</span>
    </div>
  </div>

  <!-- image -->
  <div id="base_image" ng-controller="ImageCtrl as image" ng-cloak
    ng-class="{hidden: image.state != 'ACTIVE'}">
    <div id="image_overlay" ng-controller="OverlayCtrl as overlay"
      ng-class="{hidden: !overlay.substates['OVERLAY']}">
      <div id="overlay_grid" class="overlay_button overlay_back" title="Grid Listing">
          <span navclick="grid" class="glyphicon glyphicon-th-large"></span>
      </div>

      <div id="overlay_full" class="overlay_button overlay_back" title="Toggle Zoom">
          <span navclick="zoom" class="glyphicon glyphicon-resize-full"></span>
      </div>

      <div id="overlay_prev" class="overlay_button overlay_back" title="Previous">
          <span navclick="prev" class="glyphicon glyphicon-menu-left"></span>
      </div>
      <div id="overlay_next" class="overlay_button overlay_back" title="Next">
          <span navclick="next" class="glyphicon glyphicon-menu-right"></span>
      </div>

      <div id="overlay_search" class="overlay_button overlay_back" title="New Search">
          <span navclick="search_overlay" class="glyphicon glyphicon-search"></span>
      </div>

      <div id="overlay_info" class="overlay_back" ng-controller="InfoCtrl as info">
        <div><ul>
          <li class="truncate">
            <a href="{{ info.current.url }}" title="{{ info.current.title }}">
            {{ info.current.title }}</a>
          </li>
          <li>by <a ng-href="{{ info.current.author_link }}">{{ info.current.author }}</a></li>
          <li>{{ info.date }}</li>
        </ul></div>

        <div><ul>
          <li><a href="{{info.current.content}}" title="Download" class="glyphicon glyphicon-save"></a></li>
          <li><span navclick="info" class="glyphicon glyphicon-info-sign" title="More Info"></span></li>
        </ul></div>
      </div>
    </div>

    <img id="image_front" navclick="overlay" ng-class="{base_image_zoom: image.current.zoom}"/>
    <div id="image_back"  ng-class="{hidden: image.current.zoom}"></div>
  </div>


</div>

<!-- Plugin includes -->
<script src="js/jquery.scrollbar.js"></script>
<script src="js/rzslider.js"></script>

<!-- User includes -->
<script type="text/javascript" src="js/index.min.js"></script>
</body>

</html>
